header, footer {
    background-color: #212738;
    text-align: center;
    width: 100%;
    height: auto;
}

body, header, footer, main {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #EDF2EF;
}

main, article {
    display: flex;
    flex-wrap:  wrap;
    align-content: center;
}

img {
    border-radius: 10px;
    margin: 10px;
    border: 2px groove #212738;
    width: 90%;
    height: auto;
}

.self img {
    position: relative;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

p, h1, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    padding-top: 20px;
    margin-top: 0px;
}

h3 {
    font-size: 15px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.wrapper {
    margin: 0 auto;
    width: 900px;
}

.wrapper.about {
    margin: 0;
    width: 100%;
}

.wrapper.about .group {
    width: 900px;
    margin: 0 auto;
}

main section {
    width: 600px;
}

footer {
    height: 50px;
}

.photo {
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.header-footer-text {
    color: #EDF2EF;
}

.wrapper {
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
}

.about {
    background-color: #6A8EAE;
}

@media all and (min-width: 800px) {
    .wrapper {
        width: 80%;
        margin: auto;
    }

    .group {
        flex-direction: row;
    }

} 

/* CSS for styled links */
a:hover {
    color: #00FDDC;
}

a:link {
    color: #495F41;
}

a:visited {
    color: #0E273C;
}

a:active {
    color: #212738;
}