header, footer {
    background-color: #212738;
    text-align: center;
    height: auto;
}

body, header, footer, main {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #EDF2EF;
}

main {
    display: flex;
    flex-wrap:  wrap;
    align-content: center;
}

img {
    border-radius: 10px;
    margin: 10px;
    border: 2px groove #212738;
    width: 80%;
    height: auto;
}

.self img {
    position: relative;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

p, h1, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    padding-top: 20px;
    margin-top: 0px;
}

h3 {
    font-size: 15px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.wrapper {
    margin: 0 auto;
    width: 900px;
}

.wrapper.about {
    margin: 0;
    width: 100%;
}

.wrapper.about .group {
    /*width: 900px;*/
    width: 80%;
    margin: 0 auto;
}

main section {
    width: 600px;
}

footer {
    height: 50px;
}

.photo {
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.header-footer-text {
    color: #EDF2EF;
}

.wrapper {
    width: 80%;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
}

.about {
    background-color: #6A8EAE;
}

header h1 {
    margin-bottom: 0;
}

@media all and (min-width: 800px) {
    .wrapper {
        width: 80%;
        margin: auto;
    }

    .group {
        flex-direction: row;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

}

header nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

/* CSS for styled links */
#contact li a:hover {
    color: #00FDDC;
}

a:link {
    color: #495F41;
}

a:visited {
    color: #212738;
}

a:active {
    color: #212738;
}

header nav ul li a:link {
    color: #ffffff;
}

header nav ul li a:visited {
    color: #ffffff;
}

header nav ul li a {
    text-decoration: none;
    margin: 0 20px 0 0;
}

header nav ul li:last-child a {
    margin-right: 0;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
}

form {
    margin-right: 10px;
}

#submit-button {
    width: 150px;
}

#form-message {
    height: 150px;
}

#contact ul {
    list-style-type: none;
}

#contact li {
    margin-top: 10px;
    font-size: larger;
}

footer p {
    color: #ffffff;
    padding-top: 15px;
}
